{% extends "includes/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ animation.name }}</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    {% for index in animation.timeline %}
                        <div class="col-md-3 col-sm-4">
                            <img src="/animations/render/{{ animation.id }}/{{ index }}" class="timeline" />
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                        {% endif %}

                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}