<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test 3D</title>

    <style>
        #wrapper {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h2>Canvas example</h2>
        <span style="position:absolute;top:0px;left:0px;">
            <input type="button" value="Toggle Wireframe" onclick="toggleWireframe();"/>
            <br/>WASD to move.
            <br/>Arrow keys to turn.
        </span>
    </div>

    <!--<script type="text/javascript" src="{% static 'animations/js/three/three.min.js' %}" ></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.150.1/three.min.js" ></script>
    <!--<script type="module">
        import Stats from "{% static 'animations/js/three/stats.module.js' %}";
    </script>-->
    <script type="module">
        import "{% static 'animations/js/three/demo.js' %}";
    </script>
</body>
</html>