<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test 3D</title>

    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }

        #wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h2>Canvas example</h2>
        <span style="position:absolute;top:0px;left:100px;">
            <input type="button" value="Toggle Wireframe" onclick="toggleWireframe();"/>
            <br/>WASD to move.
            <br/>Arrow keys to turn.
        </span>
    </div>
    <div id="container"></div>

    <script async src="{% static 'animations/js/three/utils/es-module-shims.js' %}"></script>
    <script type="text/javascript" src="{% static 'animations/js/three/dat.gui.min.js' %}"></script>

    <script type="importmap">
        {
            "imports": {
                "three": "{% static 'animations/js/three/three.module.js' %}",
                "three/examples/jsm/controls/OrbitControls": "{% static 'animations/js/three/jsm/controls/OrbitControls.js' %}",
                "three/examples/jsm/libs/stats.module": "{% static 'animations/js/three/jsm/libs/stats.module.js' %}"
            }
        }
    </script>

    <script type="module">
        import "{% static 'animations/js/three/demo.js' %}";
    </script>
</body>
</html>